.header{
    text-align: center;
}


/* table{
  width: 100%;
  border: 80px solid #ccc;
  
} */
td, th {
 
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    background-color:lightgoldenrodyellow;
  }
  
  th {
    background: #28527a;
    color: #f4d160;
  }
  fieldset {
    border: 2px solid #000;
    padding: 10px;
  }